h1{
    
}



.col_detail {
    color: white;
    column-count: 6;
    column-rule: 0px solid white;
    column-gap: 0px;
    padding: 0px;
    height: 100px;
    align-content: center;

}  

header{
    background-image: url(../images/backGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color:navajowhite;
    
}

body{

    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    
}

nav {


    border: 1px solid white;
    background-color: dimgray;
    
}

nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li{
    list-style-type: none;
    background-color:  #B2B2B2;
    display: inline;
    padding: 15px;
    margin: 5px;

    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color:  #8E8E8E;
}

footer{
    clear: both;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

lable {
}




input[type="radio"]{
    width: 5px;
    height: 50px;
    
}

input {
    
    width: 16%;
    height: 72px;;
    align-content: center;
    font-size: 18px;
    
}

input[type="checkbox"]{
    width: 15px;
}
body{
    font-family: sans-serif;
    background-image: url(../images/Saint_Peters.jpg);
}

main{

}











#From {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

title {
    padding-bottom: 50px;
}

.narrow {
    width: 1000;
}

.mainTop {

    padding: 20px;
    border: solid black;
    background-image: url(../images/hotel.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#cabinClass {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#heading {
    
    padding-bottom: 0;
    font-size: 50px;
}

#recomended {
}

.lowerbackground {
    background-color: white;
}

.idk {
    width: 17%;
}

.thisOne {
    width: 65%;
    padding-left: 17%;
}

section {

}



#newYork {
    width: 33%;
    border-color: black;
}

#sanDiego {
    width: 33%;
}

#sanDrancisco {
    width: 30%;
    height: 30% 
}

#sanFrancisco {
    width: 33%;
}

.green {
    background-color:  lightblue;
}

.green11 {
    background-color:  green;
}

.green1 {
    background-color:  green;
}

#flightMain {
    
    padding: 20px;
    border-color: 1px solid white;
    background-image: url(../images/shywhy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hotelMain {
    
    padding: 20px;
    background-image: url(../images/apart.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#carMain {
    
    padding: 20px;
    border-color: 1px solid white;
    background-image: url(../images/carcar1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#title {
    padding-bottom: 79px;
    padding-left: 17%;
}

.corona {
    text-align: center;
    
}

.hotelsInput {
    width: 18%;
    height: 72px;
    align-content: center;
    font-size: 18px;
}

.col_detailHotel {
    color: white;
    column-count: 5;
    column-rule: 0px solid white;
    column-gap: 0px;
    padding: 0px;
    height: 100px;
    align-content: center;
}

#Stay {
        border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carHireInput {
    width: 18%;
    height: 72px;
    align-content: center;
    font-size: 18px;
}

.col_detailCar {
    color: black;
    column-count: 3;
    column-rule: 0px solid white;
    column-gap: 0px;
    padding: 0px;
    height: 100px;
    align-content: center;
}

#numOfRooms {
        border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#DropOffTime {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#PickUpLocation {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.colcolor {
    background-color: royalblue;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    border-color: solid white;
    
}

#hotlehed {

}

#submit {
    column-count: 0;
}

.button {
    
    float: left;
    width: 150px;
    height: 30px; 
    border-radius: 10px;
    background-color: skyblue;
    border-color: skyblue;
        
}

#button {
}

.buttonh {
    float: left;
    width: 150px;
    height: 30px; 
    border-radius: 10px;
    background-color: skyblue;
    border-color: skyblue;
}

.col_detailIndx {
    color: black;
    column-count: 3;
    column-rule: 0px solid white;
    column-gap: 0px;
    padding: 0px;
    height: 100px;
    align-content: center;

}

#logo {
        padding-left: 18%;
}

.title {
    padding-bottom: 79px;
    padding-left: 17%;
}

.logo {
    padding-left: 18%;
}

.desc {

}
